
<div id="header">
	<!-- <img alt="Brand" src="img/logoprincipal.png" alt="Envoie tes commandes"
		width=197 />-->

	<div class="bouton">
		
		<button class="col-sm-4" type="button" class="btn btn-default" text-align="right"
			aria-label="right Align">
			<span class="glyphicon glyphicon glyphicon-question-sign"
				aria-hidden="true"></span>
		</button>
		
		<button class="col-sm-4" type="button" class="btn btn-default" text-align="right"
			aria-label="right Align">
			<span class="glyphicon glyphicon glyphicon-comment"
				aria-hidden="true"></span>
		</button>
		
		<button class="col-sm-4" type="button" class="btn btn-default" text-align="right"
			aria-label="right Align">
			<span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span>
		</button>
	</div>
	
</div>