<div class="col-sm-2" ng-controller="leftMenuController">

	<accordion close-others="oneAtATime"> 
		<!-- ICI TES LIENS DOIVENT CORRESPONDRE AVEC LES LIENS DE LA CONFIGURATION DU ROUTAGE -->
		<accordion-group
			heading="toto1" is-open="true">
		<a href="#/home/toto1">This content is straight in the template toto1.</a>
		</accordion-group> 
		
		<accordion-group
			heading="toto2" is-open="true">
		<a href="#/home/toto2">This content is straight in the template toto2.</a>
		</accordion-group> 
		
		<accordion-group
			heading="toto3" is-open="true">
		<a href="#/home/toto3">This content is straight in the template toto3.</a>
		</accordion-group> 
		
		<accordion-group
			heading="toto4" is-open="true">
		<a href="#/home/toto4">This content is straight in the template toto4.</a>
		</accordion-group> 
		
	</accordion>
	


</div>