<div id="wrapper">

	<div id="page-wrapper">

		<div class="container-fluid">

			<div class="row">

				<div class="mytable">
					<div class="column1"></div>
					<div class="column2"></div>
					<div class="myrow">
						<div class="mycell">Nom</div>
						<div class="mycell">{{employe.nomEmploye}}</div>
					</div>
					<div class="myrow">
						<div class="mycell">Prenom</div>
						<div class="mycell">{{employe.prenomEmploye}}</div>
					</div>
					<div class="myrow">
						<div class="mycell">Email</div>
						<div class="mycell">{{employe.mailEmploye}}</div>
					</div>
					<div class="myrow">
						<div class="mycell">Poste actuel</div>
						<div class="mycell">{{employe.role}}</div>
					</div>
					<div class="myrow">
						<div class="mycell">Adresse</div>
						<div class="mycell">{{employe.adresseEmploye}}</div>
					</div>
					<div class="myrow">
						<div class="mycell">Tel</div>
						<div class="mycell">{{employe.telEmploye}}</div>
					</div>
					<div class="myrow">
						<div class="mycell">Date de Naissance</div>
						<div class="mycell">{{employe.dateNaissanceEmploye}}</div>
					</div>
				</div>

			</div>

		</div>

	</div>

</div>