<br><br>


</ul>
<form>
    <div>
        <label>Date de Depart :</label>
        <input type="date" ng-model="conge.dateDepart"/>
    </div>    
    
    <div>    
        <label>Date de Retour :</label>
        <input type="date" ng-model="conge.dateRetour"/>
    </div>
        
    <div>
    	<label> Conges :</label>
      	<select ng-model="conge.typecongeTypeConge" ng-options="item.typeConge as item.libelleConge for item in typeConge"></select>

	</div>        

        <button ng-click="saveConge(conge)">Create</button>

</form>