<br><br>


</ul>
<form>
    <div>
        <label>Date de Depart :</label>
        <input type="text" ng-model="conge.dateDepart"/>
        
        
        <label>Date de Retour :</label>
        <input type="text" ng-model="conge.dateRetour"/>
        
        
        <label> Conges :</label>
        <select ng-controller="listtypeCongeCtrl">         
        	<option ng-repeat="con in typeconge" value="{{con.typeConge}}"> {{con.libelleConge}} </option>       	
        </select>
        

        <button ng-click="saveConge(conge)">Create</button>
    </div>

</form>